html {
  scroll-behavior: smooth;
}

body {
  background-image: url("https://img.freepik.com/vektoren-kostenlos/bier-mit-blasen-und-schaumhintergrund_107791-2563.jpg?w=2000");
  background-attachment: fixed;
  background-size: cover;
}
span a {
  text-decoration: none;
}
header {
  position: fixed;
  width: 100%;
  margin: 0;
  z-index: 10;
  background: inherit;
}
.main-container {
  margin: 15rem 3rem 0 3rem !important;
  z-index: 5;
  overflow: auto;
}
#backtoptop {
  margin: 15rem 3rem 0 3rem !important;
}

.header {
  text-align: center;
  font-size: 10em;
  margin-top: 5px;
  font-family: "Great Vibes", cursive;
  font-weight: bold;
}
@media screen and (max-width: 1075px) {
  .header {
    font-size: 9em;
  }
}
@media screen and (max-width: 975px) {
  .header {
    font-size: 8em;
  }
}
@media screen and (max-width: 870px) {
  .header {
    font-size: 7em;
  }
}
@media screen and (max-width: 760px) {
  .header {
    font-size: 6em;
  }
}
@media screen and (max-width: 656px) {
  .header {
    font-size: 5em;
  }
}
@media screen and (max-width: 553px) {
  .header {
    font-size: 4em;
  }
}
@media screen and (max-width: 451px) {
  .header {
    font-size: 3em;
  }
}

.Bierbox {
  border: solid;
  border-radius: 20px;
  background-color: rgb(245, 245, 245, 0.5);
  padding: 20px;
}
img.emojione {
  /* Override any img styles to ensure Emojis are displayed inline */
  margin: 0px !important;
  display: inline !important;

  height: auto;
  width: 300px;
}

span.emoji {
  font-size: 30px;
  vertical-align: middle;
  line-height: 2;
}
@import "https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext";
button {
  color: #454545;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #454545;
  margin: 1em;
  display: inline-block;
  padding: 0.5em 3em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: comfortaa;
  font-weight: bold;
}

button:before,
button:after {
  content: "";
  display: block;
  position: absolute;
  border-color: #454545;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
}

button:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}

button:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

button:hover:before,
button:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #6db2eb;
}

button:hover {
  color: #353535;
  background-color: #6db2eb;
  border-color: #6db2eb;
}
.panel {
  max-width: 960px;
  text-align: center;
  position: relative;
  margin: auto;
}
