body {
  background-image: url("https://img.freepik.com/vektoren-kostenlos/bier-mit-blasen-und-schaumhintergrund_107791-2563.jpg?w=2000");
  background-attachment: fixed;
}
a {
  text-decoration: none;
}

.header {
  text-align: center;
  font-size: 10em;
  font-variant: all-petite-caps;
  margin: 0px;
}
@media screen and (max-width: 1075px) {
  .header {
    font-size: 9em;
  }
}
@media screen and (max-width: 975px) {
  .header {
    font-size: 8em;
  }
}
@media screen and (max-width: 870px) {
  .header {
    font-size: 7em;
  }
}
@media screen and (max-width: 760px) {
  .header {
    font-size: 6em;
  }
}
@media screen and (max-width: 656px) {
  .header {
    font-size: 5em;
  }
}
@media screen and (max-width: 553px) {
  .header {
    font-size: 4em;
  }
}
@media screen and (max-width: 451px) {
  .header {
    font-size: 3em;
  }
}

.Bierbox {
  border: solid;
  border-radius: 20px;
  background-color: rgb(245, 245, 245, 0.5);
  padding: 20px;
}
img.emojione {
  /* Override any img styles to ensure Emojis are displayed inline */
  margin: 0px !important;
  display: inline !important;

  height: auto;
  width: 300px;
}

span.emoji {
  font-size: 30px;
  vertical-align: middle;
  line-height: 2;
}
