.Bierbox {
  border: solid;
  border-radius: 20px;
  background-color: whitesmoke;
  padding: 20px;
body {
  background-image: url("https://img.freepik.com/vektoren-kostenlos/bier-mit-blasen-und-schaumhintergrund_107791-2563.jpg?w=2000");
  background-attachment: fixed;
}
